body{
    background: green;
}
.content-box{
    display: inline-block;
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    background-color: yellow;
}
.sidebar{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: grey;
}
p{
    color:blue;
}
h2{
    color: red;
}
ul>li{
    font-size: 40px;
}
ul>li>a{
    color:orange;
}